<!DOCTYPE html>
{% spaceless %}
<html>
<head>
	<title>{% block title %}Have I jacked it?{% endblock %}</title>
	{% load staticfiles %}
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
	<link rel="stylesheet" type="text/css" href="/static/style.css?v{{ version }}" />
	<link rel="icon" type="image/png" href="/static/favicon.png"/>
	<script src="/static/voting.js?v{{ version }}"></script>
	<script src="/static/bar_actions.js?v{{ version }}"></script>
	{% include "analyticstracking.html" %}
	{% block head %}{% endblock %}
</head>
<body>
	{% block content %}?{% endblock %}
</body>
</html>
{% endspaceless %}
