{% extends "base.html" %}
{% block head %}
	<script src="/static/new_jack.js?v{{ VERSION }}"></script>
{% endblock %}
{% block content %}
	<div id="wrapper">
		{% include "titlebar.html" %}
		<div id="settings_container">
			{{ user.name }}
			<form method="POST" action="/submit_settings/">{% csrf_token %}
				<textarea class="fake_input_field" name="bio" placeholder="about you...">{% if user.profile.bio %}{{ user.profile.bio }}{% endif %}</textarea>
				<input name="link" type="text" value="{% if user.profile.link %}{{ user.profile.link.url }}{% endif %}" placeholder="link to your shit"/>
				<div id="jack_add_tag" class="jack_field">
					<input id="jack_tag" name="jack_tag" type="text" value="" placeholder="got any kinks?"/>
				</div>
				{% for flair in user.flairs.all %}
					<img class="flair" src="/static/flair/{{ flair.image }}"/>
				{% endfor %}
			</form>
		</div>
	</div>
{% endblock %}
