{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
	<div id="wrapper">
		{% include "titlebar.html" %}
		<div class="center_container">
			<div class="developers">Developers! Developers! Developers! Developers!</div>
			<div class="centered_content developers">
				<br/>
				are you a developer?
			</div>
			<hr/>
			<div class="centered_content developers">
				help us out, fork this project on <a href="http://github.com/turbio/haveijackedit">github</a>
				<hr/>
				or you could wait around till there's an api...
			</div>
		</div>
	</div>
{% endblock %}
