{% extends "base.html" %}
{% block head %}
	<script src="/static/account_action.js"></script>
{% endblock %}
{% block content %}
{% if is_private %}
		<div class="error_page_message">
			this page is private
			<div><a href="http://{{ HOST_NAME }}">
				return home
			</a></div>
		</div>
{% else %}
	{% if is_user %}
		<div id="wrapper">
			{% include "titlebar.html" %}
			<div class="feed_wrapper">
				<div class="feed_profile">
					<div id="feed_title_box">
						{{ user.name }}
						{% for f in user.activeFlairs %}
							<img class="flair" src="/static/flair/{{ f.image }}"/>
						{% endfor %}
						<div class="user_status{% if user.isJacking %} currently_jacking{% endif %}">
							{% if user.isJacking %}
								<i class="material-icons" style="font-size: 1em;">thumb_up</i> currently jacking!
							{% elif user.lastJacked %}
								jacked it
								{% with user.lastJacked as lastjacked %}
									{% if lastjacked.days > 0 %}
										{{ lastjacked.days }} day{{ lastjacked.days|pluralize }} ago
									{% else %}
										{{ lastjacked.seconds }} second{{ lastjacked.seconds|pluralize }} ago
									{% endif %}
								{% endwith %}
							{% else %}
								hasn't jacked it
							{% endif %}
						</div>
						<div class="user_bio">
							{{ user.profile.bio }}
						</div>
						<div id="profile_tag_container">
							{% for t in user.profile.kinks.all %}
								<div class="label profile_label"><a href="http://{{ HOST_NAME }}/tag/{{ t.text }}">{{ t.text }}</a></div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="feed_jack_list">
					{% if jack_list %}
						{% for jack in jack_list %}
							{% include "jack.html" %}
						{% endfor %}
						{% include "pagination_nav.html" %}
					{% else %}
					{% endif %}
				</div>
			</div>
		</div>
	{% else %}
		<div class="error_page_message">
			doesn't look like this user exists
			<div><a href="http://{{ HOST_NAME }}/signup?u={{ username }}">
				take this url
			</a></div>
			<div><a href="http://{{ HOST_NAME }}">
				return home
			</a></div>
		</div>
	{% endif %}
{% endif %}
{% endblock %}
