{% extends "base.html" %}
{% block head %}
	<script src="/static/account_action.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}
	<div id="wrapper">
		{% include "titlebar.html" %}
		{% if jack_list %}
			<div id="title">Have I jacked it?</div>
			{% if not user %}
				<div id="sign_links">
					{% comment %}
					<div class="sign_link"><a id="signup_link" href="#" onclick="show_signup()">get your own</a></div>
					<div id="sign_sep">|</div>
					<div class="sign_link"><a id="signin_link" href="#" onclick="show_signin()">sign in</a></div>
					{% endcomment %}
					<div class="sign_link"><a onClick="document.getElementById('index_about_blurb').style.display = 'block'; return false;" href="#">wtf is this?</a></div>
					<div id="sign_sep">|</div>
					<div class="sign_link"><a id="signup_link" href="/signup">get your own</a></div>
					<div id="sign_sep">|</div>
					<div class="sign_link"><a id="signin_link" href="/signin">sign in</a></div>
				</div>
				<div id="index_about_blurb">a place to keep track of your masturbatory habits and share with others... <a href="/about">more</a></div>
			{% endif %}
			{% for jack in jack_list %}
				{% include "jack.html" %}
			{% endfor %}
		{% else %}
			nothing yet...
		{% endif %}
	</div>
	{% comment %}
	{% if not signed_in %}
		<div id="signin" class="account_dialog">
			{% include "signin.html" %}
			<a href="#" onclick="hide_dialog()">back</a>
		</div>
		<div id="signup" class="account_dialog" {% if claim_url %}style="display: block;"{% endif %}>
			{% include "signup.html" %}
			<a href="#" onclick="hide_dialog()">back</a>
		</div>
	{% endif %}
	{% endcomment %}
{% endblock %}
