<div class="feed_jack">
	<div class="jack" id="jack_{{ jack.id }}">
	{% if jack.finished %}
		<div class="jack_content">
			<div class="msg">{{ jack.comment }}</div>
			{% if jack.location_lat  %}
			<div class="jack_image_container jack_row">
				<div class="jack_icon jack_row"><i class="material-icons">my_location</i></div>
				<img class="jack_image" src="https://maps.googleapis.com/maps/api/staticmap?center={{ jack.location_lat }},{{ jack.location_lng }}&zoom=16&size=600x600&maptype=roadmap&style=element:labels|visibility:off&style=saturation:-100&markers={{ jack.location_lat }},{{ jack.location_lng }}"/>
			</div>
			{% endif %}
			{% if jack.image_file  %}
				<div class="jack_image_container jack_row">
					{% if jack.image_source == "f" %}
						<div class="jack_icon jack_row"><i class="material-icons">photo</i></div>
					{% elif jack.image_source == "c" %}
						<div class="jack_icon jack_row"><i class="material-icons">photo_camera</i></div>
					{% endif %}
					<img class="jack_image" src="/media/{{ jack.image_file }}"/>
				</div>
			{% endif %}
			{% if jack.url  %}
				<div class="jack_row with_icon">
					<div class="jack_icon jack_row"><i class="material-icons">link</i></div>
					<div class="jack_link jack_row"><a href="{{ jack.url }}">{{ jack.url }}</a></div>
				</div>
			{% endif %}
			{% if jack.bro %}
			<div class="jack_row with_icon">
				<div class="jack_icon"><i class="material-icons">people</i></div>
				<div class="jack_bro"><a href="#">{{ jack.bro }}</a></div>
			</div>
			{% endif %}
			{% if jack.duration %}
			<div class="jack_row with_icon">
				<div class="jack_icon"><i class="material-icons">timer</i></div>
				<div class="jack_bro">
					<!--{% if jack.duration_day > 0 %}-->
						<!--{{ jack.duration_day }} day{{ jack.duration_day|pluralize }}-->
						<!--{{ jack.duration_hour }} hour{{ jack.duration_hour|pluralize }}-->
						<!--{{ jack.duration_minute }} minute{{ jack.duration_minute|pluralize }}-->
					<!--{% elif jack.duration_hour > 0 %}-->
						<!--{{ jack.duration_hour }} hour{{ jack.duration_hour|pluralize }}-->
						<!--{{ jack.duration_minute }} minute{{ jack.duration_minute|pluralize }}-->
						<!--{{ jack.duration_second }} second{{ jack.duration_second|pluralize }}-->
					<!--{% elif jack.duration_minute > 0 %}-->
						<!--{{ jack.duration_minute }} minute{{ jack.duration_minute|pluralize }}-->
						<!--{{ jack.duration_second }} second{{ jack.duration_second|pluralize }}-->
					<!--{% else %}-->
						<!--{{ jack.duration_second }} second{{ jack.duration_second|pluralize }}-->
					<!--{% endif %}-->

					{% if jack.duration_day > 0 %}
						{{ jack.duration_day }} day{{ jack.duration_day|pluralize }} {{ jack.duration_hour|stringformat:"02d" }}:{{ jack.duration_minute|stringformat:"02d" }}:{{ jack.duration_second|stringformat:"02d" }}
					{% elif jack.duration_hour > 0 %}
						{{ jack.duration_hour|stringformat:"02d" }}:{{ jack.duration_minute|stringformat:"02d" }}:{{ jack.duration_second|stringformat:"02d" }}
					{% elif jack.duration_minute > 0 %}
						{{ jack.duration_minute|stringformat:"02d" }}:{{ jack.duration_second|stringformat:"02d" }}
					{% else %}
						{{ jack.duration_second }} second{{ jack.duration_second|pluralize }}
					{% endif %}
				</div>
			</div>
			{% endif %}

			<div class="jack_row">
				<div class="jack_vote_wrapper">
					<div class="jack_votes" id="votes_{{ jack.id }}">{{ jack.votes }}</div>
					<a onClick="upvote({{ jack.id }}); return false;">
						<div class="{% if jack.vote_direction > 0 %}vote_button_selected{% else %}vote_button{% endif %}" id="vote_up_{{ jack.id }}"><i class="material-icons">thumb_up</i></div>
					</a>
					<a onClick="downvote({{ jack.id }}); return false;">
						<div class="{% if jack.vote_direction < 0 %}vote_button_selected{% else %}vote_button{% endif %}" id="vote_down_{{ jack.id }}"><i class="material-icons">thumb_down</i></div>
					</a>
				</div>

				<a href="http://{{ jack.user_name }}.{{ request.META.HTTP_HOST }}">
					<div class="name">&ndash;{{ jack.user_name }}, {{ jack.age }}</div>
				</a>
				{% if jack.private %}<div class="private_jack">only you can see this</div>{% endif %}
			</div>
			{% if jack.isowner %}
				<form action="/modify/" method="POST">{% csrf_token %}
					<input type="hidden" name="return_location" value="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}"/>
					<input type="hidden" name="jack_id" value="{{ jack.id }}"/>
					<div class="jack_row jack_controls">
						<button type="submit" name="operation" value="visibility">
							{% if jack.private %}
								<i class="material-icons">visibility</i>
							{% else %}
								<i class="material-icons">visibility_off</i>
							{% endif %}
						</button>
						<button type="submit" name="operation" value="edit">
							<i class="material-icons">mode_edit</i>
						</button>
						<button type="submit" name="operation" value="delete">
							<i class="material-icons">delete</i>
						</button>
					</div>
				</form>
			{% endif %}
		</div>
	{% else %}
	didn't finish
	{% endif %}
	</div>
</div>
