{% extends "base.html" %}
{% block head %}
	<script src="/static/new_jack.js?v{{ VERSION }}"></script>
	<script src="/static/webcam.js"></script>
	<script src="/static/dropzone.js"></script>
{% endblock %}
{% block content %}
	<div id="wrapper">
		{% include "titlebar.html" %}
		<div id="feed_title_box">
			<div id="feed_title_q">modify your jack</div>
		</div>
		<div id="new_jack_box">
			<form method="POST" action="/modify/">{% csrf_token %}
				<input type="hidden" name="operation" value="submit_edit"/>
				<input type="hidden" name="jack_id" value="{{ jack.id }}"/>
				<input type="hidden" name="return_location" value="{{ return_location }}"/>

				<input id="new_jack_post_box" type="hidden" name="new_jack" value="{{ comment_filler }}"/>
				<div contentEditable="true" id="new_jack_text" name="new_jack_editable" onKeyDown="textChange()" onKeyUp="textChange()" onchange="textChange()">{{ comment_filler }}</div>

				<div class="jack_field">
					<div id="modify_jack_subtext">(only the text can be edited)</div>
				</div>

				<input id="submit_jack_submit" type="submit" value="submit"/>
			</form>

			<div id="remaining_chars"></div>
		</div>
	</div>
{% endblock %}
