{% block head %}
	<!--ugh, yeah i know..-->
	<!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
	<!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
	<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
	<script src="/static/jquery-1.10.2.js"></script>
	<script src="/static/jquery-ui.js"></script>

	<script src="/static/new_jack.js?v{{ VERSION }}"></script>
	<script src="/static/webcam.js"></script>
	<script src="/static/dropzone.js"></script>

	<link rel="stylesheet" href="/static/jquery-ui.css">
{% endblock %}
<div id="new_jack_box">
	<form method="POST" action="/submit_jack/">{% csrf_token %}
		<input id="new_jack_post_box" type="hidden" name="new_jack" value="{{ comment_filler }}"/>
		<input id="jack_geo" type="hidden" name="jack_geo" value=""/>
		<div contentEditable="true" id="new_jack_text" name="new_jack_editable" onKeyDown="textChange()" onKeyUp="textChange()" onchange="textChange()" onClick="add_punc(); textChange()">{{ comment_filler }}</div>

		<div id="geobox" class="jack_field">
			<a href="/nojs" onClick="removeGeo(); return false;"><div class="button close_button"><i class="material-icons">close</i></div></a>
			<div id="geolocation_map">
				<div class="loading_bar">
					<div class="loading_segment">
						<div class="dot dot_creator"></div>
						<div class="dot dot_creator dot_second"></div>
					</div>
					<div class="loading_segment">
						<div class="dot loading_dot"></div>
						<div class="dot loading_dot dot_second"></div>
					</div>
					<div class="loading_segment">
						<div class="dot dot_destroyer"></div>
						<div class="dot dot_destroyer dot_second"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="jack_add_picture" class="empty_box">
			<img id="selected_image" src=""/>
			<input id="image_input" type="file" accept="image/*"/>
			<input type="hidden" id="image_data" name="image" value=""/>
			<input id="image_source" type="hidden" name="image_source"/>
			<a href="#" onClick="removePicture(); return false;"><div class="button close_button"><i class="material-icons">close</i></div></a>

			<div id="add_pic"/>
				<div class="bg_text add_pic_instruction">drag image here</div>
				<div class="or">or</div>
				<div class="add_pic_instruction"><a href="/nojs" onClick="useWebcam(); return false;" id="picture_from_webcam">use webcam</a></div>
				<div class="or">or</div>
				<div class="add_pic_instruction"><a href="/nojs" onClick="uploadFromFS(); return false;">upload image</a></div>

				<div id="camera_box">
					<div id="camera_view"></div>
					<div id="camera_controls">
						<div class="button" id="cam_cap" onClick="captureImage()">capture</div>
						<div class="button" id="cam_retry" onClick="retryImage()">retry</div>
						<div class="button" id="cam_save" onClick="saveImage()">save</div>
					</div>
				</div>
			</div>
		</div>

		<div id="jack_add_link" class="jack_field">
			<a href="/nojs" onClick="removeLink(); return false;"><div class="button close_button"><i class="material-icons">close</i></div></a>
			<div id="jack_link_title">found some sweet jacking material?</div>
			<input id="jack_link_url" name="jack_link_url" type="text" value="" placeholder="http://rms.sexy"/>
		</div>

		<div id="jack_add_bro" class="jack_field">
			<a href="/nojs" onClick="removeBro(); return false;"> <div class="button close_button"><i class="material-icons">close</i></div></a>
			<div id="jack_link_title">jacked it with a bro?</div>
			<input id="jack_bro" name="jack_bro" type="text" value="" placeholder="{{ filler_user.0.name }}, {{ filler_user.1.name }}, {{ filler_user.2.name }}..."/>
		</div>

		<div id="jack_add_tag" class="jack_field">
			<a href="/nojs" onClick="removeTag(); return false;"> <div class="button close_button"><i class="material-icons">close</i></div></a>
			<div id="jack_link_title">tag your jack</div>
			<input id="jack_tag" name="jack_tag" type="text" value="" placeholder="vore,"/>
		</div>

		{% if user.isJacking %}
			<div id="jack_time_field" class="jack_field">
				<div id="jack_link_title">
					<div class="jack_time_counter"><i class="material-icons">timer</i></div>&nbsp;
					{% if user.jackTimeFormated.hours > 0 or user.jackTimeFormated.days > 0 %}
						{% if user.jackTimeFormated.days > 0 %}
							<div class="jack_time_counter" id="jack_time_day">{{ user.jackTimeFormated.days }}</div>
							{% if user.jackTimeFormated.days > 1 %}
								<div class="jack_time_counter">&nbsp;days&nbsp;</div>
							{% else %}
								<div class="jack_time_counter">&nbsp;day&nbsp;</div>
							{% endif %}
						{% endif %}

						<div class="jack_time_counter" id="jack_time_hour">{{ user.jackTimeFormated.hours|stringformat:"02d" }}</div>
						<div class="jack_time_counter">:</div>
					{% endif %}
					<div class="jack_time_counter" id="jack_time_minute">{{ user.jackTimeFormated.minutes|stringformat:"02d" }}</div>
					<div class="jack_time_counter">:</div>
					<div class="jack_time_counter" id="jack_time_second">{{ user.jackTimeFormated.seconds|stringformat:"02d" }}</div>
				</div>
			</div>
		{% endif %}

		<input id="submit_jack_submit" type="submit" value="submit"/>
	</form>

	<a href="/nojs" onClick="toggleAddLocation(); return false;">
		<div class="jack_box_button" id="location_button"><i class="material-icons">location_on</i></div>
	</a>
	<a href="#" onClick="toggleAddImage(); return false;">
		<div class="jack_box_button" id="image_button"><i class="material-icons">insert_photo</i></div>
	</a>
	<a href="/nojs" onClick="toggleAddLink(); return false;">
		<div class="jack_box_button" id="link_button"><i class="material-icons">link</i></div>
	</a>
	<a href="/nojs" onClick="toggleAddBro(); return false;">
		<div class="jack_box_button" id="link_button"><i class="material-icons">person_add</i></div>
	</a>
	<a href="/nojs" onClick="toggleAddTag(); return false;">
		<div class="jack_box_button" id="tag_button"><i class="material-icons">label</i></div>
	</a>

	<div id="remaining_chars"></div>
	{% if user.isJacking %}
		<form action="/submit_jack/" method="POST">{% csrf_token %}
			<div id="bottom_action_box">
				<input id="bottom_button" type="submit" name="no_finish" value="didn't finish"/>
			</div>
		</form>
	{% else %}
		<form action="/submit_jack/" method="POST">{% csrf_token %}
			<div id="bottom_action_box">
				<input id="bottom_button" type="submit" name="start_time" value="about to jack"/>
			</div>
		</form>
	{% endif %}
</div>
