{% if jack %}
<div class="quote">
	<div class="msg">{{ jack.comment }}</div>
		{% if jack.has_geolocation  %}
		<div class="jack_map">
			<img class="jack_map_image" src="https://maps.googleapis.com/maps/api/staticmap?center={{ jack.lat }},{{ jack.lng }}&zoom=16&size=600x300&maptype=roadmap&style=element:labels|visibility:off&style=saturation:-100"/>
		</div>
		{% endif %}
		{% if jack.has_image  %}
			<div class="jack_map">
				<img class="jack_map_image" src="{{ jack.image_data }}"/>
			</div>
		{% endif %}
		{% if jack.has_link  %}
			<a href="{{ jack.link_url }}">{{ jack.link_text }}</a>
		{% endif %}
		{% if jack.has_bro  %}
			{% for bro in jack.bros %}
				<div class="quote_jack_bro"><a href="http://{{ bro.name }}.{{ host }}">{{ bro.name }}</a></div>
			{% endfor %}
		{% endif %}
	<a href="http://{{ jack.user_id.name }}.{{ host }}">
		<div class="name">&ndash;{% if show_username %}{{ jack.user_id.name }}{% else %}you{% endif %}{% if show_date %}, {{ jack.date }}{% endif %}</div>
	</a>
</div>
{% endif %}
