<div class="feed_quote">
	<div class="quote" id="jack_{{ jack.id }}">
		<div class="quote_content">
			<div class="msg">{{ jack.comment }}</div>
			{% if jack.location_lat  %}
			<div class="quote_image_container quote_row">
				<div class="quote_icon quote_row"><i class="material-icons">my_location</i></div>
				<img class="quote_image" src="https://maps.googleapis.com/maps/api/staticmap?center={{ jack.location_lat }},{{ jack.location_lng }}&zoom=16&size=600x600&maptype=roadmap&style=element:labels|visibility:off&style=saturation:-100&markers={{ jack.location_lat }},{{ jack.location_lng }}"/>
			</div>
			{% endif %}
			{% if jack.image_file  %}
				<div class="quote_image_container quote_row">
					{% if jack.image_source == "f" %}
						<div class="quote_icon quote_row"><i class="material-icons">photo</i></div>
					{% elif jack.image_source == "c" %}
						<div class="quote_icon quote_row"><i class="material-icons">photo_camera</i></div>
					{% endif %}
					<img class="quote_image" src="/media/{{ jack.image_file }}"/>
				</div>
			{% endif %}
			{% if jack.url  %}
				<div class="quote_row with_icon">
					<div class="quote_icon quote_row"><i class="material-icons">link</i></div>
					<div class="quote_link quote_row"><a href="{{ jack.url }}">{{ jack.url }}</a></div>
				</div>
			{% endif %}
			{% if jack.bro %}
			<div class="quote_row with_icon">
				<div class="quote_icon"><i class="material-icons">people</i></div>
				<div class="quote_bro"><a href="#">{{ jack.bro }}</a></div>
			</div>
			{% endif %}

			<div class="quote_row">
				<div class="jack_vote_wrapper">
					<div class="jack_votes" id="votes_{{ jack.id }}">{{ jack.votes }}</div>
					<a onClick="upvote({{ jack.id }}); return false;">
						<div class="{% if jack.vote_direction > 0 %}vote_button_selected{% else %}vote_button{% endif %}" id="vote_up_{{ jack.id }}"><i class="material-icons">thumb_up</i></div>
					</a>
					<a onClick="downvote({{ jack.id }}); return false;">
						<div class="{% if jack.vote_direction < 0 %}vote_button_selected{% else %}vote_button{% endif %}" id="vote_down_{{ jack.id }}"><i class="material-icons">thumb_down</i></div>
					</a>
				</div>

				<a href="http://{{ jack.user_name }}.{{ host }}">
					<div class="name">&ndash;{{ jack.user_name }}, {{ jack.age }}</div>
				</a>
				{% if jack.isowner %}
					<!--TODO show controls-->
				{% endif %}
			</div>
		</div>
	</div>
</div>
