<div class="feed_quote {% if jack.shade %}shaded_quote{% endif %}">
	<div class="quote" id="jack_{{ jack.id }}">
		<div class="quote_content">
			<div class="msg">{{ jack.comment }}</div>
			{% if jack.location  %}
			<div class="quote_image_container quote_row">
				<div class="quote_icon quote_row"><i class="material-icons">my_location</i></div>
				<img class="quote_image" src="https://maps.googleapis.com/maps/api/staticmap?center={{ jack.lat }},{{ jack.lng }}&zoom=16&size=600x600&maptype=roadmap&style=element:labels|visibility:off&style=saturation:-100&markers={{ jack.location.lat }},{{ jack.location.lng }}"/>
			</div>
			{% endif %}
			{% if jack.image  %}
				<div class="quote_image_container quote_row">
					{% if jack.image.source == "f" %}
						<div class="quote_icon quote_row"><i class="material-icons">photo</i></div>
					{% elif jack.image.source == "c" %}
						<div class="quote_icon quote_row"><i class="material-icons">photo_camera</i></div>
					{% endif %}
					<img class="quote_image" src="{{ jack.image.data.url }}"/>
				</div>
			{% endif %}
			{% if jack.link  %}
				<div class="quote_row with_icon">
					<div class="quote_icon quote_row"><i class="material-icons">link</i></div>
					<div class="quote_link quote_row"><a href="{{ jack.link.url }}">{{ jack.link.url }}</a></div>
				</div>
			{% endif %}
			{% if jack.bros.count > 0  %}
				<div class="quote_row with_icon">
					<div class="quote_icon"><i class="material-icons">people</i></div>
					{% for bro in jack.bros.all %}
						<div class="quote_bro"><a href="http://{{ bro.name }}.{{ host }}">{{ bro.name }}</a></div>
					{% endfor %}
				</div>
			{% endif %}

			<div class="quote_row">
				v:{{ jack.user_vote }}
				<div class="jack_vote_wrapper">
					<div class="jack_votes" id="votes_{{ jack.id }}">{% if jack.votes %}{{ jack.votes }}{% else %}0{% endif %}</div>
					<a onClick="upvote({{ jack.id }}); return false;">
						<div class="{% if jack.vote_up %}vote_button_selected{% else %}vote_button{% endif %}" id="vote_up_{{ jack.id }}"><i class="material-icons">thumb_up</i></div>
					</a>
					<a onClick="downvote({{ jack.id }}); return false;">
						<div class="{% if jack.vote_down %}vote_button_selected{% else %}vote_button{% endif %}" id="vote_down_{{ jack.id }}"><i class="material-icons">thumb_down</i></div>
					</a>
				</div>

				<a href="http://{{ jack.user_id.name }}.{{ host }}">
					<div class="name">&ndash;{% if show_username %}{{ jack.user_id.name }}{% else %}you{% endif %}, {{ jack.age }}</div>
				</a>
			</div>
		</div>
	</div>
</div>
