{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
	<div id="wrapper">
		{% include "titlebar.html" %}

		{% for tag in search_tag_list %}
			<div class="label search_label">
				<i class="material-icons">label</i>
				<a href="http://{{ HOST_NAME}}/tag/{{ tag }}">{{ tag }}</a></div>
		{% endfor %}

		{% for user in search_user_list %}
			<div class="label search_label">
				<i class="material-icons">person</i>
				<a href="http://{{ user }}.{{ HOST_NAME}}">{{ user }}</a></div>
		{% endfor %}

		{% if results %}
			{% for jack in results %}
				{% include "jack.html" %}
			{% endfor %}
		{% else %}
			<div id="no_search_results">
				{% if empty_search_query %}
					<div>maybe you should actually search for something...</div>
				{% else %}
					<div>no jacks matched your search</div>
					<i class="material-icons">mood_bad</i>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endblock %}
