{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
	<div id="wrapper">
		{% include "titlebar.html" %}
		{% if results %}
			{% for jack in results %}
				{% include "jack.html" %}
			{% endfor %}
		{% else %}
			<div id="no_search_results">
				{% if empty_search_query %}
					<div>you should probably search for something...</div>
				{% else %}
					<div>no jacks matched your search</div>
					<i class="material-icons">mood_bad</i>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endblock %}
