{% extends "base.html" %}
{% block head %}
	<script src="/static/account_action.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}
	<div class="account_dialog">
		<form method="POST" action="/signup/">{% csrf_token %}sign up<br/>
			{% if error %}
				<div class="error_box">{{ error }}</div>
			{% endif %}
			<input type='hidden' name='action' value='signup'/>
			<div class="error_box" id="signup_error"></div>
			<input id="signup_username" class="text_box" type="text" name="username" placeholder="username" onchange="username_entered()" autofocus/>
			<br/>
			<input class="text_box" type="password" name="password" placeholder="password"/>
			<br/>
			<div id="captcha" class="g-recaptcha" data-sitekey="6LeJ2gcTAAAAAJjYYMTcPqa9ZmjqHeVy-MZZTGqs"></div>
			<br/>
			<input type="submit" name="submin" value="sign up"/>
		</form>
		<a href="http://{{ request.META.HTTP_HOST }}">back</a>
	</div>
{% endblock %}
