{% extends "base.html" %}
{% block head %}
	<script src="/static/account_action.js"></script>
{% endblock %}
{% block content %}
	<div class="account_dialog">
		<form method="POST" action="/signin/">{% csrf_token %}sign in<br/>
			{% if error %}
				<div class="error_box">{{ error }}</div>
			{% endif %}
			<input type='hidden' name='action' value='signin'/>
			<input class="text_box" type="text" name="username" placeholder="username" autofocus/>
			<br/>
			<input class="text_box" type="password" name="password" placeholder="password"/>
			<br/>
			<input type="submit" name="submit" value="sign in"/>
		</form>
		<a href="http://{{ request.META.HTTP_HOST }}">back</a>
	</div>
{% endblock %}
