body{
	padding: 0;
	margin: 0;
	font-size: 3em;
}

*{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#wrapper{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	vertical-align: middle;
}

@media (min-width: 600px){
	.quote{
		width: 10em;
	}
}

.quote{
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

.msg{
	font-style: italic;
	text-align: center;
}

.name:hover{
	text-decoration: underline;
}

.name{
	text-align: right;
	color: #bbb;
	font-size: 0.75em;
}

a{
	text-decoration: none;
	color: blue;
}

a:visited{
	color: blue;
}

a:active{
	color: red;
}

@media (max-width: 500px){
	.text_box{
		width: 90%;
	}
}

@media (min-width: 500px){
	.text_box{
		width: 10em;
	}
}

input{
	font-size: 0.5em;
	background: white;
	border: solid;
	border-color: #888;
	outline: 0;
}

textarea{
	resize: none;
	font-size: 0.5em;
	background: white;
	outline: 0;
}

input[type=submit]{
	transition: all .2s;
}

input[type=submit]:hover{
	background: #888;
	color: #fff;
	cursor: pointer;
}

form{
	margin: 0;
	padding: 0;
}

.text_box{
	margin: 0.25em;
}

#footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: .5em;
	text-align: center;

	/*transition: all 2s;*/
	/*-webkit-transition: all 2s;*/
}

.account_dialog{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	padding: 1em;
	text-align: center;
	background: white;
	overflow: hidden;
}

#signup{
	display: none;
}

#signup_error{
	display: none;
}

.error_box{
	border-style: solid;
	border-color: #ff0000;
	border-width: 2px;
	font-size: 0.5em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	color: #ff0000;
}

#signin{
	display: none;
}

#signin_link{
	font-size: 0.50em;
}

#captcha{
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	display: inline-block;
}

#feed_title_box{
	text-align: center;
	margin-top: 1em;
	/*display: inline-block;*/
}

#feed_title_q{
	margin: 0.25em;
	font-size: 1.5em;
}

#feed_title_a{
	font-size: 2em;
}

.feed_quote{
	font-size: 0.75em;
}

.error_page_message{
	text-align: center;
	margin: 0.5em;
}

#account_opt_box{
	background: white;
	position: fixed;
	right: 0;
	font-size: .5em;
	padding: .25em;
}

@media (max-width: 600px){
	#new_jack_form{
		/*width: 100%;*/
	}
}

@media (min-width: 600px){
	#new_jack_form{
		width: 10em;
	}
}

#new_jack_form{
	transition: all .2s;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border: solid;
	border-color: #888;
	/*overflow: hidden;*/
	/*height: 1.5em;*/
}

#new_jack_form a{
	color: black;
}

.jack_box_button:hover{
	background-color: #888;
	color: #fff;
	transition: all .2s;
}

.jack_box_button{
	width: 1.4em;
	cursor: pointer;
	border: solid;
	border-color: #888;
	border-bottom: none;
	border-right: none;
	float: right;
	height: 1.5em;
	font-size: 0.5em;

	display: flex;
	justify-content: center;
	align-items: center;
}

#new_jack_box{
	margin: .25em;
	resize: none;
	font-size: 0.5em;
	background: white;
	outline: 0;
	border: none;
	/*background: red;*/
	text-align: left;
}

#new_jack_box br{
	display: none
}

.new_jack_box_over_limit{
	background-color: red;
	color: blue;
}

#submit_jack_submit{
	border-bottom: none;
	border-right: none;
	float: right;
	height: 1.5em;
}

#title{
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	margin: 0.25em;
}

#title_bar{
	position: relative;
	top: 0;
	left: 0;
	right: 0;

	background: #000;
	color: #fff;
	height: .75em;
}

.titlebar_button:hover{
	background-color: #fff;
	cursor: pointer;
	color: black;
}

.titlebar_button{
	transition: all .2s;
	width: 0.75em;
	height: 0.75em;
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_right{
	float: right;
}

#title_bar a{
	color: white;
	/*background: red;*/
}

#remaining_chars{
	/*float: left;*/
	height: 1.5em;

	font-size: 0.5em;
	color: #888;

	display: table-cell;
	vertical-align: middle;
}

#forkongithub a{
	background:#000;
	color:#fff;
	text-decoration:none;
	font-family:arial,sans-serif;
	text-align:center;
	font-weight:bold;
	padding:5px 40px;
	font-size:1rem;
	line-height:2rem;
	position:relative;
	transition: 0.5s;
}
#forkongithub a:hover{
	background:#fff;
	color:#000;
}
#forkongithub a::before,#forkongithub a::after{
	content:"";
	width:100%;
	display:block;
	position:absolute;
	top:1px;
	left:0;
	height:1px;
	background:#fff;
}
#forkongithub a::after{
	bottom:1px;
	top:auto;
}
@media screen and (min-width:800px){
	#forkongithub{
		position:absolute;
		display:block;
		top:0;
		right:0;
		width:200px;
		overflow:hidden;
		height:200px;
		z-index:9999;
	}#forkongithub a{
		width:200px;
		position:absolute;
		top:60px;
		right:-60px;
		transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-o-transform:rotate(45deg);
	}
}

@media screen and (max-width:800px){
	#forkongithub{
		display: none;
	}
}

#location_button{

}

#image_button{

}

#link_button{
}

#geolocation_map{
	/*margin: .5em;*/
	display: none;
	background: #eee;
	height: 6em;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	/*width: 1em;*/
}

#jack_add_picture{
	display: none;
	position: relative;
	height: 6em;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: .5em;
}

.empty_box{
	border-style: dashed;
	border-color: #aaa;
	background-color: #eee;
}

.or{
	font-size: .25em !important;
	color: #ccc;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
/*.material-icons.md-35 { font-size: 35px; }*/
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.bg_text{
	color: #888;
}

#camera_box{
	display: none;
}

#camera_view{
	background: black;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.button{
	margin: .25em;
	cursor: pointer;
	font-size: 0.5em;
	background-color: #fff;
	border-color: #888;
	border-style: solid;
	transition: all .2s;
	padding: .1em;

}
.button:hover{
	background-color: #888;
	color: #fff;
}

.close_button{
	z-index: 1;
	width: 1em;
	height: 1em;
	position: absolute;
	right: 0;
	top: 0;
}

#camera_controls{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1em;
	display: flex;

	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#cam_retry{
	display: none;
}
#cam_save{
	display: none;
}

.loading_segment{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 0.75em;
	height: 0.5em;
	overflow: hidden;
	/*display: inline-block;*/
	float: left;
}

@keyframes move_loading_dot{
	0%{
		left: -0.5em;
	}
	100%{
		left: 1em;
	}
}

.loading_dot{
	animation-name: move_loading_dot;
}

@keyframes move_creator_dot{
	0%{
		left: -0.5em;
		background: none;
	}
	30%{
		background: none;
	}
	50%{
		background: #000;
	}
	100%{
		background: #000;
		left: 1em;
	}
}

.dot_creator{
	animation-name: move_creator_dot;
}

@keyframes move_destroyer_dot{
	0%{
		left: -0.5em;
		background: #000;
	}
	30%{
		background: #000;
	}
	50%{
		background: none;
	}
	100%{
		background: none;
		left: 1em;
	}
}

.dot_destroyer{
	animation-name: move_destroyer_dot;
}

.dot_second{
	animation-delay: -0.25s;
}

.dot{
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: absolute;

	width: 0.5em;
	height: 0.5em;

	border-radius: 0.5em;
	background: #000;
}

.link_icon{
	transform: rotate(-45deg) translate(-5px, -2px);
}

.link_add_icon{
	transform: translate(2px, -5px);
	font-size: 18px !important;
}

#jack_link_url{
	width: 100%;
	margin: 0;
}

#jack_bro{
	width: 100%;
	margin: 0;
}

#jack_link_title{
	text-align: left;
	font-size: .5em;
	margin: 0;
}

.jack_field{
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	position: relative;
	background-color: #eee;
	display: none;
	padding: .25em;
}

.add_pic_instruction{
	font-size: .5em;
}

#image_input{
	display: none;
}

#selected_image{
	display: none;
	width: 100%;
}

.quote_image_container{
	overflow: auto;
	position: relative;
	max-height: 2em;
	width: 100%;
	transition: all 0.4s;
	/*height: 2em;*/
}

.quote_image_container:hover{
	/*overflow: visible;*/
	/*height: auto;*/
	max-height: 20em;
	/*width: 150%;*/
	/*width: 150%;*/
}

.quote_image:hover{
	height: 100%;
	/*position: relative;*/
	/*top: 0;*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*right: 0;*/
	/*max-height: 100%;*/
}

.quote_image{
	transition: all 0.2s;
	/*position: absolute;*/
	/*top: -100%;*/
	/*bottom: -100%;*/
	/*left: -100%;*/
	/*right: -100%;*/
	/*margin: auto;*/
	width: 100%;
}

.quote_row{
	position: relative;
	margin-top: .125em;
	/*margin-bottom: .125em;*/
	overflow: hidden;
	/*display: block;*/
	/*height: 0em;*/
}

.quote_row a{
	color: #bbb;
}
.quote_row a:hover{
	text-decoration: underline;
	overflow: hidden;
	color: #eee;
}

.quote_bro{
	font-size: .5em;
	background: #f8f8f8;
	padding: .125em;
	float: left;
	margin: 0.125em;
	padding-left: 0.25em;
	padding-right: 0.25em;

	transition: all 0.2s;
}

.quote_bro:hover{
	background: black;
}

.quote_icon{
	background-color: rgba(255, 255, 255, .5);
	font-size: .5em;
	padding: .125em;
	position: absolute;
	left: 0;
	margin: 0;
	width: 24px;
	height: 24px;
}

.quote_link{
	font-size: .5em;
	float: left;
	transition: all 0.2s;
}

.quote_link a:hover{
	color: #888;
}

.quote_link:hover{
	/*background: black;*/
}

.with_icon{
	padding-left: 1em;
}
