body{
	padding: 0;
	margin: 0;
	font-size: 3em;
}

*{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#wrapper{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	vertical-align: middle;
}

@media (min-width: 600px){
	.quote{
		width: 10em;
	}
}

.quote{
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

.msg{
	font-style: italic;
	text-align: center;
}

.name:hover{
	text-decoration: underline;
}

.name{
	text-align: right;
	color: #bbb;
	font-size: 0.75em;
}

a{
	text-decoration: none;
	color: blue;
}

a:visited{
	color: blue;
}

a:active{
	color: red;
}

@media (max-width: 500px){
	.text_box{
		width: 90%;
	}
}

@media (min-width: 500px){
	.text_box{
		width: 10em;
	}
}

input{
	font-size: 0.5em;
	background: white;
	border: solid;
	border-color: #888;
	outline: 0;
}

textarea{
	resize: none;
	font-size: 0.5em;
	background: white;
	border: solid;
	border-color: #888;
	outline: 0;
}

input[type=submit]:hover{
	background: #888;
	color: #fff;
}

form{
	margin: 0;
	padding: 0;
}

.text_box{
	margin: 0.25em;
}

#footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: .5em;
	text-align: center;

	/*transition: all 2s;*/
	/*-webkit-transition: all 2s;*/
}

.account_dialog{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	padding: 1em;
	text-align: center;
	background: white;
	overflow: hidden;
}

#signup{
	display: none;
}

#signup_error{
	display: none;
}

.error_box{
	border-style: solid;
	border-color: #ff0000;
	border-width: 2px;
	font-size: 0.5em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	color: #ff0000;
}

#signin{
	display: none;
}

#signin_link{
	font-size: 0.50em;
}

#captcha{
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	display: inline-block;
}

#feed_title_box{
	text-align: center;
	margin-top: 1em;
	/*display: inline-block;*/
}

#feed_title_q{
	margin: 0.25em;
	font-size: 1.5em;
}

#feed_title_a{
	font-size: 2em;
}

.feed_quote{
	font-size: 0.75em;
}

.error_page_message{
	text-align: center;
	margin: 0.5em;
}

#account_opt_box{
	background: white;
	position: fixed;
	right: 0;
	font-size: .5em;
	padding: .25em;
}

@media (max-width: 600px){
	#new_jack_form{
		width: 100%;
	}
}

@media (min-width: 600px){
	#new_jack_form{
		width: 8em;
	}
}

#new_jack_form{
	height: 2em;
	text-align: center;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

#new_jack_box{
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
}

#submit_jack_submit{
	position: absolute;
	right: 0;
	bottom: 0;
}

#title{
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	margin: 0.25em;
}

#title_bar{
	position: relative;
	top: 0;
	left: 0;
	right: 0;

	background: #000;
	color: #fff;
	height: 1em;
}

.icon:hover{
	background-color: #fff;
	cursor: pointer;
}

.icon{
	width: 1em;
	height: 1em;
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
}

#home_icon{
	background-image: url(/static/home.svg);
}

#settings_icon{
	background-image: url(/static/settings.svg);
	float: right;
}

#dash_icon{
	background-image: url(/static/dash.svg);
	float: right;
}

#exit_icon{
	background-image: url(/static/exit.svg);
	float: right;
}
