{% extends "base.html" %}
{% block head %}
	<script src="/static/dash_action.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="/static/webcam.js"></script>
	<script src="/static/dropzone.js"></script>
{% endblock %}
{% block content %}
	<div id="wrapper">
		{% include "titlebar.html" %}
		<div id="feed_title_box">
			<div id="feed_title_q">
				Have you jacked it today?
			</div>
		</div>
		<div id="new_jack_form">
			<form method="POST" action="/new_jack/">{% csrf_token %}
				<input id="new_jack_post_box" type="hidden" name="new_jack" value="{{ yes_word }}"/>
				<input id="jack_geo" type="hidden" name="jack_geo" value=""/>
				<div contentEditable="true" id="new_jack_box" name="new_jack_editable" onKeyDown="textChange()" onKeyUp="textChange()" onchange="textChange()" onClick="add_punc(); textChange()">{{ yes_word }}</div>

				<div id="geobox" class="jack_field">
					<a href="/nojs" onClick="removeGeo(); return false;"><div class="button close_button"><i class="material-icons">close</i></div></a>
					<div id="geolocation_map">
						<div class="loading_bar">
							<div class="loading_segment">
								<div class="dot dot_creator"></div>
								<div class="dot dot_creator dot_second"></div>
							</div>
							<div class="loading_segment">
								<div class="dot loading_dot"></div>
								<div class="dot loading_dot dot_second"></div>
							</div>
							<div class="loading_segment">
								<div class="dot dot_destroyer"></div>
								<div class="dot dot_destroyer dot_second"></div>
							</div>
						</div>
					</div>
				</div>

				<div id="jack_add_picture" class="empty_box">
					<a href="/nojs" onClick="removePicture(); return false;"><div class="button close_button"><i class="material-icons">close</i></div></a>
					<div class="bg_text">drag image here</div>
					<div class="or">or</div>
					<div><a href="javascript:void(useWebcam())" id="picture_from_webcam">webcam</a></div>
					<div id="camera_box">
						<div id="camera_view"></div>
						<div id="camera_controls">
							<div class="button" id="cam_cap" onClick="captureImage()">capture</div>
							<div class="button" id="cam_retry" onClick="retryImage()">retry</div>
							<div class="button" id="cam_save" onClick="saveImage()">save</div>
						</div>
					</div>
				</div>

				<div id="jack_add_link" class="jack_field">
					<a href="/nojs" onClick="removeLink(); return false;"><div class="button close_button"><i class="material-icons">close</i></div></a>
					<div id="jack_link_title">found some sweet jacking material?</div>
					<input id="jack_link_url" name="jack_link_url" type="text" value="" placeholder="http://rms.sexy"/>
				</div>

				<div id="jack_add_bro" class="jack_field">
					<a href="/nojs" onClick="removeBro(); return false;"> <div class="button close_button"><i class="material-icons">close</i></div></a>
					<div id="jack_link_title">jacked it with a bro?</div>
					<input id="jack_link_url" name="jack_link_url" type="text" value="" placeholder="{usr0}, {usr1}, {usr2}..."/>
				</div>

				<input id="submit_jack_submit" type="submit" value="submit"/>

				<a href="/nojs" onClick="addLocation(); return false;">
					<div class="jack_box_button" id="location_button"><i class="material-icons">location_on</i></div>
				</a>
				<a href="/nojs" onClick="imageDialog(); return false;">
					<div class="jack_box_button" id="image_button"><i class="material-icons">insert_photo</i></div>
				</a>
				<a href="/nojs" onClick="addLink(); return false;">
					<div class="jack_box_button" id="link_button"><i class="link_add_icon material-icons">add</i><i class="material-icons link_icon">link</i></div>
				</a>
				<a href="/nojs" onClick="addBro(); return false;">
					<div class="jack_box_button" id="link_button"><i class="material-icons">person_add</i></div>
				</a>
				<!--<div class="jack_box_button">b</div>-->
				<!--<div class="jack_box_button">c</div>-->
				<div id="remaining_chars"></div>
			</form>
		</div>
	{% if jack_list %}{% for jack in jack_list %}
		<div class="feed_quote">
			{% include "quote.html" %}
		</div>
	{% endfor %}{% endif %}
	</div>
{% endblock %}
