{% extends "base.html" %}
{% block head %}
	<script src="/static/dash_action.js"></script>
{% endblock %}
{% block content %}
	<div id="wrapper">
		{% include "titlebar.html" %}
		<div id="feed_title_box">
			<div id="feed_title_q">
				Have you jacked it today?
			</div>
		</div>
		<div id="new_jack_form">
			<form method="POST" action="/new_jack/">{% csrf_token %}
				<!--<textarea id="new_jack_box" name="new_jack" onKeyDown="textChange()" onchange="textChange()" onClick="add_punc();">{{ yes_word }}</textarea>-->
				<div contentEditable="true" id="new_jack_box" name="new_jack" onKeyUp="textChange()" onchange="textChange()" onClick="add_punc(); textChange()">{{ yes_word }}</div>
				<input id="submit_jack_submit" type="submit" value="submit"/>
				<div id="remaining_chars"></div>
			</form>
		</div>
	{% if jack_list %}{% for jack in jack_list %}
		<div class="feed_quote">
			{% include "quote.html" %}
		</div>
	{% endfor %}{% endif %}
	</div>
{% endblock %}
