{% extends "base.html" %}
{% block head %}
	<script src="/static/dash_action.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}
{% block content %}
	<div id="wrapper">
		{% include "titlebar.html" %}
		<div id="feed_title_box">
			<div id="feed_title_q">
				Have you jacked it today?
			</div>
		</div>
		<div id="new_jack_form">
			<form method="POST" action="/new_jack/">{% csrf_token %}
				<input id="new_jack_post_box" type="hidden" name="new_jack" value="{{ yes_word }}"/>
				<input id="jack_geo" type="hidden" name="jack_geo" value=""/>
				<div contentEditable="true" id="new_jack_box" name="new_jack_editable" onKeyDown="textChange()" onKeyUp="textChange()" onchange="textChange()" onClick="add_punc(); textChange()">{{ yes_word }}</div>
				<div id="geolocation_map"></div>
				<input id="submit_jack_submit" type="submit" value="submit"/>
				<div class="jack_box_button" id="location_button" onClick="addLocation()"><i class="material-icons">location_off</i></div>
				<div class="jack_box_button" id="image_button"><i class="material-icons">insert_photo</i></div>
				<div class="jack_box_button" id="link_button"><i class="material-icons">link</i></div>
				<!--<div class="jack_box_button">b</div>-->
				<!--<div class="jack_box_button">c</div>-->
				<div id="remaining_chars"></div>
			</form>
		</div>
	{% if jack_list %}{% for jack in jack_list %}
		<div class="feed_quote">
			{% include "quote.html" %}
		</div>
	{% endfor %}{% endif %}
	</div>
{% endblock %}
