<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
	<script src="{% static 'index/account_action.js' %}"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
	<div id="wrapper">
{% if jack_list %}
	{% for jack in jack_list %}
		<div class="quote">
			<div class="msg">{{ jack.comment }}</div>
			<div class="name">&ndash;{{ username }}</div>
		</div>
	{% endfor %}
{% else %}
{% endif %}
	</div>
</body>
</html>
