{% extends "base.html" %}
{% block head %}
	<script src="/static/account_action.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}
	<div id="wrapper">
		{% include "titlebar.html" %}
		<form method="POST" action="/submit_settings/">
			<div id="settings_container">
				<div id="setting_title">settings</div>
				<div class="setting_option">
					<div class="checkbox_wrapper">
						<input type="checkbox" name="private" {% if options.private %}checked="checked"{% endif %}/>
						<label></label>
					</div>
					<div class="checkbox_label">make private</div>
				</div>
				<div class="setting_option">
					<div class="checkbox_wrapper">
						<input type="checkbox" name="show_on_home_page" {% if options.show_on_home_page %}checked="checked"{% endif %}/>
						<label></label>
					</div>
					<div class="checkbox_label">show jacks on home page</div>
				</div>
				<div class="setting_option">
					<div class="checkbox_wrapper">
						<input type="checkbox" name="show_data" {% if options.show_date %}checked="checked"{% endif %}/>
						<label></label>
					</div>
					<div class="checkbox_label">show date on jacks</div>
				</div>
				<div class="setting_option">
					<div class="checkbox_wrapper">
						<input type="checkbox" name="show_time" {% if options.show_time %}checked="checked"{% endif %}/>
						<label></label>
					</div>
					<div class="checkbox_label">show time on jacks</div>
				</div>
				<div class="setting_option ">
					<div class="setting_section">change password</div>
					<input type="field" name="cur_pass" placeholder="current password"/>
					<input type="field" name="new_pass" placeholder="new password"/>
					<input name="change_pass" type="submit" value="change"/>
				</div>
				<div class="setting_option">
					<input type="submit" name="delete_account" value="delete account"/>
				</div>
				<input id="submit_settings" type="submit" name="submit" value="submit"/>
			</div>
		</form>
	</div>
{% endblock %}
