{% extends "base.html" %}
{% block head %}
	<script src="/static/account_action.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}
	<div id="wrapper">
		{% include "titlebar.html" %}
		<div id="settings_container">
			<div id="setting_title">settings</div>
			<div class="setting_option">
				<div class="checkbox_wrapper">
					<input type="checkbox" />
					<label></label>
				</div>
				make private
			</div>
			<div class="setting_option">
				<input type="checkbox">
				show on home page
			</div>
			<div class="setting_option">
				<input type="checkbox">
				show date on jacks
			</div>
			<div class="setting_option">
				<input type="checkbox">
				show time on jacks
			</div>
			<div class="setting_option ">
				change password
				<input type="field" placeholder="current password"/>
				<input type="field" placeholder="new password"/>
				&nbsp;<input type="submit" value="change"/>
			</div>
			<div class="setting_option">
				<input type="submit" value="delete account"/>
			</div>
		</div>
	</div>
{% endblock %}
